.git/
.gitignore
.gitattributes

.github/

.idea/
.run/
.agents/
*.iml

target/*
!target/*.jar

.mvn/
mvnw
mvnw.cmd

docs/
*.md
LICENSE
postman-collection.json

Dockerfile
.docker/
.dockerignore

.env
.env.*
